<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="wam_base">

  <link name="wam_origin">
        <visual>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
             <box size="0.001 0.001 0.001" />
          </geometry>
        </visual>
    </link> 

    <link name="wam_base">
        <inertial>
            <mass value="5.0" />
	<!-- NB While you would think this would make it go up, it is oddly reversed.
      	     This moves the joint to 0,0,0 where we want it for rviz, etc. -->
            <origin xyz="0.0 0.0 0" rpy="0 0 0" />
            <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="1.0"  iyz="0.0"  izz="1.0" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
            <geometry name="wam_base_visual">
                <mesh filename="package://wam_description/meshes/wam_base.stl" scale="1.0 1.0 1.0" />
            </geometry>
            <material name="White" >
                <color rgba="0.0 0.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0" rpy="0 0 0"/>
            <geometry name="wam_base_collision">
                <mesh filename="package://wam_description/meshes/wam_base.stl" scale="1.0 1.0 1.0" />
            </geometry>
            <contact_coefficients kd="1.0" kp="1000.0" mu="0"/>
        </collision>
    </link>

    <gazebo reference="wam_base">
        <material>Gazebo/White</material>
        <turnGravityOff>false</turnGravityOff>
      <!--  <selfCollide>true</selfCollide> -->
    </gazebo>

    <joint name="wam_base_joint" type="fixed">
        <parent link="wam_origin"/>
        <child link="wam_base"/>
        <origin xyz="0.0 0.0 0" rpy="0 0 0" />
     </joint> 

  </xacro:macro>

</robot>
